* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial;
}

h1 {
  font-size: 50px;
  margin: 2.5rem;
}

.pessoa {
  background-color: #CCC;
  border: none;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  margin: 1rem 2rem;
  padding: 1rem;
  border-radius: 10px;
}

.pessoa:nth-child(even) {
  background-color: #AAA;
}